html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

.title_1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.text_1 {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}